[submodule "SUBREPOS/BASE"]
	path = SUBREPOS/BASE
	url = https://github.com/skysgh/BASE.git
	branch = main
[submodule "SUBREPOS/CLIENT"]
	path = SUBREPOS/CLIENT
	url = https://github.com/skysgh/BASE.Jump.Dev.Client.git
	branch = main
[submodule "SUBREPOS/MODULES.DEVLEARN"]
	path = SUBREPOS/MODULES.DEVLEARN
	url = https://github.com/skysgh/BASE.Modules.DevLearn.git
	branch = main
[submodule "SUBREPOS/MODULES.SPIKES"]
	path = SUBREPOS/MODULES.SPIKES
	url = https://github.com/skysgh/BASE.Modules.Spikes.git
	branch = main
[submodule "SUBREPOS/MODULES.TEMPLATE"]
	path = SUBREPOS/MODULES.TEMPLATE
	url = https://github.com/skysgh/BASE.Modules.Template.git
	branch = main
[submodule "SUBREPOS/MODULES.CORE"]
	path = SUBREPOS/MODULES.CORE
	url = https://github.com/skysgh/BASE.Modules.Core.git
	branch = main
[submodule "SUBREPOS/CLIENT.T1"]
	path = SUBREPOS/CLIENT.T1
	url = https://github.com/skysgh/BASE.Jump.Dev.Client.T1.git
	branch = main
